<IfModule mod_headers.c>
    # WEEK
    <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    # WEEK
    <FilesMatch "\.(js|css|swf)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>
</IfModule>

RewriteEngine on
Options +FollowSymlinks
RewriteBase /
RewriteRule  ^thumb-([a-zA-Z0-9]+)-(.+)$ crop.php?size=$1&mode=crop&img=$2 [L,QSA]